# Pandas II - Data Cleaning

_September 17, 2020_

Agenda today:
- Introduction to lambda function
- Introduction to data cleaning in pandas
- Combining DataFrames
- Optional Exercises

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## Part I. Lambda function
lambda functions are known as anonymous functions in Python. It allows you to write one-line functions that are used together with `map()`, `filter()`.

Syntax of lambda function: `lambda arguments:expressions`.

In [ ]:
# lambda function with one argument

# add 10 to any number
add_10 = lambda x:x+10
add_10(10)

In [ ]:
# lambda function with multiple arguments
(lambda x,y,z: x+y+z)(10,5,1)

In [ ]:
# chain it with conditionals
(lambda x:x+10 if x>10 else x+11)(5)

In [ ]:
map(function, collection)

In [ ]:
filter(function, collection)

In [ ]:
# exercise: turn the below function into a lambda function
def count_zeros(li):
    """
    return a count of how many zeros are in a list
    """
    count = sum(x == 0 for x in li)
    return count

In [ ]:
count_zeros([1,2,4,0,0,0])

In [ ]:
lst = [0,1,2,4]

In [ ]:
# your answer here
num_0 = sum(map(lambda x:x == 0, lst))

In [ ]:
num_0

In [ ]:
list(map(lambda x:x == 0, lst))

In [ ]:
len((filter(lambda x:x==0,lst)))

## Part II. Data Cleaning in Pandas
You might wonder what the usage of lambda functions are - they are incredibly useful when applied to data cleaning in Pandas. You can apply it to columns or the entire dataframe to get results you need. For example, you might want to convert a column with $USD to Euros, or temperature expressed in Celsius to Fehrenheit. You will learn three new functions:

- `Apply()` - on both series and dataframe

- `Applymap()` - only on dataframes

- `Map()` - only on series

In [ ]:
# import the dataframe 
df = pd.read_csv('auto-mpg.csv')
df.head()

In [ ]:
# examine the first few rows of it

In [ ]:
# check the datatypes of the df
df.info()

In [ ]:
df.dtypes

In [ ]:
# check whether you have missing values
df.isna().sum()

In [ ]:
# creating new columns - broadcasting

In [ ]:
# check the dataframe

In [ ]:
# time to use lambda and apply! with apply, applymap, and map, you never need to "iterate through the rows"

# create a function that takes in the weight as lbs, and return weight in tons 

# 1 lb = 0.0005
df['weight_in_tons'] = df['weight'].apply(lambda x:x*0.0005)
df.head()

In [ ]:
#broadcasting

df['weight_in_tons_bc'] = df['weight'] * 0.0005
df.head()

In [ ]:
def helper():
    """"""
    pass

In [ ]:
# exercise - create a new column called "years old", which determines how old a car is 
df['years_old'] = df['model year'].apply(lambda x:120 - x if x >= 70 (if x<65 (if )) else)

df['years_old_bc'] = 120 - df['model year']

In [ ]:
df.head()

In [ ]:
new_df = df.drop(columns = ['weight_in_tons'], axis = 1, inplace = True)

In [ ]:
new_df.head()

In [ ]:
df.head()

## Part III. Combining DataFrames in Pandas
There are two methods in Pandas that allow us to combine our DataFrames:

    - df.merge() - allow us to match dataframes on either indices or columns
    - df.concat() - allow us to concatenate two dataframes vertically or horizontally

In [1]:
# create some toy dataframes 
import pandas as pd
import numpy as np
small_grades = pd.DataFrame({"students":["Amelia","Justin W","Brendan"],
                          "projects":[1,2,1],
                          "grades":np.random.randint(80,100,3)})
small_quiz = pd.DataFrame({"students":["Billy","Cierra","Justin W"],
                            "quiz_score":np.random.randint(0,10,3)})

In [2]:
print(small_grades)
print(small_quiz)

   students  projects  grades
0    Amelia         1      88
1  Justin W         2      84
2   Brendan         1      84
   students  quiz_score
0     Billy           0
1    Cierra           8
2  Justin W           8

In [5]:
### df.concat 
combined = pd.concat([small_grades, small_quiz], axis = 1)

In [6]:
combined

   students  projects  grades  students  quiz_score
0    Amelia         1      88     Billy           0
1  Justin W         2      84    Cierra           8
2   Brendan         1      84  Justin W           8

<img src = 'sql-joins.png' width = 400>

Based on the diagram above, what are the differences of different types of merge?

In [7]:
### df.merge

# inner merge
small_grades.merge(small_quiz, on = 'students')

   students  projects  grades  quiz_score
0  Justin W         2      84           8

In [8]:
# outer merge
small_grades.merge(small_quiz, how = 'outer', on = 'students')

   students  projects  grades  quiz_score
0    Amelia       1.0    88.0         NaN
1  Justin W       2.0    84.0         8.0
2   Brendan       1.0    84.0         NaN
3     Billy       NaN     NaN         0.0
4    Cierra       NaN     NaN         8.0

In [9]:
# right merge
small_grades.merge(small_quiz, how = 'right', left_on = col_name, right_on = col_name)

   students  projects  grades  quiz_score
0  Justin W       2.0    84.0           8
1     Billy       NaN     NaN           0
2    Cierra       NaN     NaN           8

### Data Cleaning - level up with the adult dataset

Dataset documentation:
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.

In [ ]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
adults = pd.read_csv(url,header = None)

In [ ]:
adults.head()

In [ ]:
# Check the first few rows

In [ ]:
# add the columns to dataset
columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital_status','occupation', 'relationship', 'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country','income']

In [ ]:
# check the info of dataset

In [ ]:
# check missing values

In [ ]:
# perform some queries - find the total num female & bachelors

In [ ]:
# seems like we have data anolmaly, find out what that is and fix it 
# hint - tons of entries contain white space, remove it!

In [ ]:
# subsetting multiple cols

In [ ]:
# create a column called income_binary, 1 if >50k and 0 otherwise

In [ ]:
# get some descriptive statistics of the income distribution